body {
  background: white;
  margin: 0;
  width:100%
}
p {
  color: black;
}
h1 {
  font-family: Oswald;
  color: black;
}

h2 {
  font-family: Work Sans;
}
p {
  font-family: Source Sans Pro;
  font-size: 20px;
}
.title {
  text-align: center;
  float: center;
  width: 100%;
  background-color: white;
}
.text {
  display: block;
  margin: 5%
}
.menu {
  width:100%;
  height:60px;
  background-color: orange;
}
.menu button{
  font-size: 23px;
  padding: 11px;
  float: left;
  transition: 0.3s;
  background-color: inherit;
  font-family: Oswald;
}
.menu button:hover {
    background-color:rgba(255, 102, 0, 0.781);
}
#title{
  font-size: 500%;
  text-align: center;
  padding: 0px;
}
#title_img {
  float: left;
  width:50%;
  background-color: black;
}
#title_capt {
  color: black;
}

.margin20 {
  margin: 20px;
}

.banner {
  background-color: orange;
}
button {
  font-size: 23px;
  padding: 11px;
  transition: 0.3s;
  background-color: inherit;
  font-family: Oswald;
  text-align: center;
}
button:hover{
  background-color: orange;
}














